@inject TimeCheckService TimeCheckService
@inject NavigationManager NavigationManager

@attribute [Authorize]
@page "/Ajustar"


<div class="d-flex flex-column" >

    @if (!_timeEntries.Any())
    {
        <div>
            <p class="empty-msg">Nenhum ponto registrado</p>
        </div>
    }
    else
    {
        <!-- Selector -->
        <select class="form-select" @onchange="SelectTimeEntry">
            <option value="@Guid.Empty" selected>Escolha uma data</option>
            @foreach (var timeEntry in _timeEntries)
            {
                <option value="@timeEntry.Id" disabled="@(timeEntry.Status == TimeEntryStatus.Pending)">@timeEntry.Date.ToString()</option>
            }
        </select>

        @if (_selectedTimeEntry is not null)
        {
            <EditForm Model="_selectedTimeEntry" OnValidSubmit="UpdateAsync" class="card p-4 shadow-sm rounded">
                <DataAnnotationsValidator />

                @foreach    (var check in _selectedTimeEntry.Checks)
                {
                    <div class="mb-3">
                        <InputDate Type="InputDateType.Time"
                                   @bind-Value="check.TimestampLocal"
                                   class="form-control" />
                    </div>
                }

                @if (!string.IsNullOrEmpty(_errorMessage))
                {
                    <div class="alert alert-danger small py-2 mb-3" role="alert">
                        @_errorMessage
                    </div>
                }

                <div class="mb-3">
                    <button type="button" class="btn btn-outline-info btn-sm" @onclick="AddCheck">
                        + Adicionar horário
                    </button>
                </div>

                @if (_selectedTimeEntryId is not null)
                {
                    <div class="mb-3">
                        <label class="form-label">Motivo:</label>
                        <InputTextArea class="form-control" @bind-Value="_adjutmentReason"></InputTextArea>
                    </div>
                }

                <!-- Button -->
                <div class="btn-wrap">
                    <button type="submit" class="btn btn-primary w-100 d-flex justify-content-center align-items-center" disabled="@_isLoading">
                        @if (_isLoading)
                        {
                            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                            <span>Atualizando...</span>
                        }
                        else
                        {
                            <span>Ajustar Ponto</span>
                        }
                    </button>
                </div>
            </EditForm>

        }
    }
</div>


@code{
    private List<TimeEntryDTO> _timeEntries = new();
    private TimeEntryDTO? _selectedTimeEntry;
    private Guid? _selectedTimeEntryId;
    private string _adjutmentReason = string.Empty;
    private string _errorMessage = string.Empty;
    private bool _isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _timeEntries = await TimeCheckService.GetAllEntriesNoIncludes();
        }
        catch (HttpRequestException ex)
        {
            NavigationManager.NavigateTo($"/error?code={(int)ex.StatusCode!}", forceLoad: false);
        }

        _timeEntries.Reverse();
    }

    private async Task SelectTimeEntry(ChangeEventArgs args)
    {
        _selectedTimeEntryId = Guid.Parse(args.Value!.ToString()!);

        if (_selectedTimeEntryId == Guid.Empty)
        {
            NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
            return;
        }
        try
        {
            _selectedTimeEntry = await TimeCheckService.GetById(_selectedTimeEntryId.Value);
        }        
        catch (HttpRequestException ex)
        {
            NavigationManager.NavigateTo($"/error?code={(int)ex.StatusCode!}", forceLoad: false);
        }
    }

    private async Task UpdateAsync()
    {
        _errorMessage = string.Empty;

        if (_selectedTimeEntryId is null || _selectedTimeEntry is null)
        {
            _errorMessage = "Nenhuma entrada selecionada.";
            return; 
        }

        if(string.IsNullOrWhiteSpace(_adjutmentReason))
        {
            _errorMessage = "Motivo de ajuste não informado.";
            return;
        }

        _selectedTimeEntry.AdjustmentReason = _adjutmentReason;

        _isLoading = true;
        StateHasChanged();
        try
        {
            var success = await TimeCheckService.UpdateTimeEntryAsync(_selectedTimeEntryId.Value, _selectedTimeEntry);

            if (!success)
                _errorMessage = "Erro ao atualizar o ponto.";
        }
        catch (Exception ex)
        {
            _errorMessage = $"Erro inesperado: {ex.Message}";
        }
        finally
        {
            NavigationManager.NavigateTo(NavigationManager.Uri, forceLoad: true);
        }
    }
    private void AddCheck()
    {
        _selectedTimeEntry!.Checks.Add(new TimeCheckDTO
        {
            TimeZoneId = TimeZoneInfo.Local.Id,
            TimestampLocal = _selectedTimeEntry.Date.ToDateTime(TimeOnly.FromDateTime(DateTime.Now))
        });
        StateHasChanged();
    }
}