@inject TimeCheckService TimeCheckService
@inject NavigationManager NavigationManager

@attribute [Authorize]
@page "/Geral"

<div class="records-wrap">
    <table class="table table-sm align-middle mb-0">
        <thead>
            <tr>
                <th>#</th>
                <th>Data</th>
                <th>Horarios</th>
                <th>Tot. Horas</th>
                <th>Consistencia</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="registros">
            
                @if (!_timeEntries.Any())
                {
                    <tr>
                        <td colspan="3" class="empty-msg">Nenhum ponto registrado</td>
                    </tr>
                }
                else
                {
                @foreach (var (timeEntry, index) in _timeEntries.Select((c, i) => (c, i + 1)))
                    {
                        <tr>
                            <td>@index</td>
                            <td>@timeEntry.Date.ToString()</td>
                            <td>@string.Join(" ", timeEntry.Checks.OrderBy(c => c.TimestampLocal).Select(c => c.TimestampLocal.ToString("HH:mm:ss")).ToArray())</td>
                            <td>@timeEntry.HoursWorked.ToString(@"hh\:mm\:ss")</td>
                            <td>@(timeEntry.IsConsistent ? "Consistente" : "Inconsistente")</td>
                            <td>@(timeEntry.Status == TimeEntryStatus.Accepted ? "Aceito" : "Pendente")</td>
                        </tr>
                    }
                }
        </tbody>
    </table>
</div>

@code{
    private List<TimeEntryDTO> _timeEntries = new();
    private string _errorMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _timeEntries = await TimeCheckService.GetAll();
        }
        catch (HttpRequestException ex)
        {
            NavigationManager.NavigateTo($"/error?code={(int)ex.StatusCode!}", forceLoad: false);
        }
    }
}